{{#if displaySource}}
  <div class="source">
    {{terms-item-source term=term buttonId=(concat (concat name "-source-") index) toggledSource=toggledSource
    disabled=disabled disableShortcuts=disableShortcuts}}
  </div>
{{/if}}

{{if term.dirty "dirty" "not dirty"}}

<div class="input-box">
  {{input value=term.literalForm class=(concat "tabbable " name) name=(concat name index) focus-in=(action "focusTerm" true)
  focus-out=(action "focusTerm" false) enter=(action "handleEnter" term)}}
</div>

{{#if loadingRoles}}
  <div class="button-group"><i class="fa fa-spinner fa-pulse"></i></div>
{{else}}
  <div class="button-group">
    {{#if term.id}}
      <button tabindex=-1 disabled= {{translationDisabled}} class="gender preferred {{if term.preferredMale 'active'}}" {{action 'toggleStandardMale' term}}>
        standard male
      </button>
      <button tabindex=-1 disabled= {{translationDisabled}} class="gender preferred {{if term.preferredFemale 'active'}}" {{action 'toggleStandardFemale' term}}>
        standard female
      </button>
      <button tabindex=-1 disabled= {{translationDisabled}} class="gender {{if term.male 'active'}}" {{action 'toggleMale' term}}>
        male
      </button>
      <button tabindex=-1 disabled= {{translationDisabled}} class="gender {{if term.female 'active'}}" {{action 'toggleFemale' term}}>
        female
      </button>
      <button tabindex=-1 disabled= {{translationDisabled}} class="gender {{if term.neutral 'active'}}" {{action 'toggleNeutral' term}}>
        neutral
      </button>
    {{/if}}
  </div>
{{/if}}
