<div class="suggestions-button{{if disabled " disabled"}}" {{action 'toggleSuggestions'}} title={{tooltip}}>
  <i class="fa fa-magic" id={{buttonId}}></i>
</div>

{{#if buttonLoaded}}
  {{#if toggledSuggestions}}
    {{#tether-dialog close='toggleSuggestions' hasOverlay=true renderInPlace=false clickOutsideToClose=false target=targetButtonId
    targetAttachment='bottom left' attachment='top right' container-class='term-suggestions'}}
      {{suggestions-list suggestions=suggestions selectSuggestion="selectSuggestion"}}
    {{/tether-dialog}}
  {{/if}}
{{/if}}
