{{#if showSource}}
  <div class="source">
    {{show-source term=term saveSource="saveSource" buttonId=(concat type index) displaySource=displaySource
    disabled=translationDisabled disableShortcuts=disableShortcuts}}
  </div>
{{/if}}

<div class="input-box">
  <input type="text" disabled= {{translationDisabled}} value= {{term.literalForm}} class="tabbable {{type}}" name="{{type}}{{index}}"
         onkeyup= {{action "contentModified" term}} onfocus= {{action "focusTerm" true}}  onblur= {{action "focusTerm" false}}
         placeholder={{placeholder}} />
  {{#if showQuest}}
    {{#if showQuestIfNotEmpty}}
      <button class="quest-btn" {{action 'goToQuestUrl'}} title='Link to Quest' tabindex=-1></button>
    {{/if}}
  {{/if}}
</div>

{{#if loadingRoles}}
  <div class="button-group"><i class="fa fa-spinner fa-pulse"></i></div>
{{else}}
  <div class="button-group">
    {{#if term.id}}
      <button tabindex=-1 disabled= {{translationDisabled}} class="gender preferred {{if term.preferredMale 'active'}}" {{action 'toggleStandardMale' term}}>
      standard male
      </button>
      <button tabindex=-1 disabled= {{translationDisabled}} class="gender preferred {{if term.preferredFemale 'active'}}" {{action 'toggleStandardFemale' term}}>
      standard female
      </button>
      <button tabindex=-1 disabled= {{translationDisabled}} class="gender {{if term.neutral 'active'}}" {{action 'toggleNeutral' term}}>
      neutral
      </button>
    {{/if}}
  </div>
{{/if}}

<div class="actions">
  <button type="button" tabindex=-1 class="save"   title="Save field"  {{action 'saveField'}}  disabled={{not dirty}}></button>
  <button type="button" tabindex=-1 class="cancel" title="Reset field" {{action 'resetField'}} disabled={{not dirty}}></button>
</div>

{{#if allowDelete}}
  <button tabindex=-1 disabled= {{translationDisabled}} class="action remove" {{action 'removeTerm' term index}}>
    <i class="fa fa-minus"></i>
  </button>
{{else if displaySuggestions}}
  {{show-suggestions term=term label=(await concept.defaultPrefLabel) sourceLanguage=sourceLanguage buttonId=(concat type index)
  targetLanguage=targetLanguage showSuggestions=showSuggestions shouldSendAction=true toggleSuggestions="toggleSuggestions"
  closeSuggestions="closeSuggestions" selectSuggestion="selectSuggestion" disabled=translationDisabled}}
{{/if}}
