{{#if displaySource}}
  {{term-source term=term buttonId=(concat (concat name "-source-") index) toggledSource=toggledSource
  disabled=shouldDisable disableShortcuts=disableShortcuts closing="focusInput"}}
{{/if}}

<div class="input-box">
  {{input value=term.literalForm class=(concat "tabbable " nameIndex) name=nameIndex placeholder=placeholder disabled=shouldDisable
  focus-in=(action "focusTerm"  true) focus-out=(action "focusTerm" false) enter=(action "focusTerm" false)}}
</div>

{{#if loadingRoles}}
  <div class="button-group"><i class="fa fa-spinner fa-pulse"></i></div>
{{else unless emptyRoles}}
  <div class="button-group">
    {{#each roles as |role roleindex|}}
      <button tabindex=-1 disabled={{shouldDisable}} {{action 'toggleGender' role}}
          class="gender {{if (term-has-role term=term role=role roles=term.roles isReloading=term.isReloading) 'active'}}">
        {{role.displayLabel}}
      </button>
    {{/each}}
  </div>
{{/if}}

{{#if (and displayActions saveable)}}
  {{#if failed}}
    <div class="error">
      <i class="fa fa-exclamation-triangle" aria-hidden="true" title={{failedMessage}}></i>
    </div>
  {{/if}}
  <div class="actions">
    <button type="button" tabindex=-1 class="save" title="Save field" {{action 'saveTerm'}} disabled={{shouldDisable}}></button>
    <button type="button" tabindex=-1 class="cancel" title="Reset field" {{action 'rollbackTerm'}} disabled={{shouldDisable}}></button>
  </div>
{{/if}}


{{#if displayDelete}}
  <button tabindex=-1 class="action remove" {{action 'deleteTerm'}} disabled={{shouldDisable}}>
    <i class="fa fa-minus"></i>
  </button>
{{/if}}

{{#if displaySuggestions}}
  {{term-suggestions term=term suggestions=suggestions buttonId=(concat (concat name "-suggestions-") index)
  toggledSuggestions=toggledSuggestions disabled=shouldDisable selectSuggestion="selectSuggestion" closing="focusInput"}}
{{/if}}

